img {
  height: auto; /* Keeps the aspect ratio */
}

header {
  text-align: center;
  font-family: "Barrio", cursive;
}

footer {
  text-align: center;
}

body {
  background-color: #fefbea; /* soft cream color */
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Azeret Mono", monospace;
}

.section-container1 {
  width: 100vw; 
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: #ffe6f0;
  box-sizing: border-box;
}

.section-container2 {
  width: 100vw; 
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: #ecefff;
  box-sizing: border-box;
}

/*project card style*/
.project {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 12px; /*rounded corners*/
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/*grid container style*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*3 columns repeating*/
  gap: 20px;
  padding: 10px; 
}

/*image inside project card*/
.project img {
  width: 100%;
  height: auto;
  border-radius: 12px; /*rounds corner of img*/
  object-fit: contain; /*cover = zooms in, cotain = smaller*/
  max-height: 250px;
}

/*paragraph inside project*/
.project p {
  margin-top: 10px;
  font-size: 1rem; /*1 times the root element (16px?)*/
  font-family: "Gabarito", sans-serif;
}
